.header {
    background-color: #000000;
    height: 50px;
}

nav .navbar-nav li a {
    color: chartreuse !important;
}

.aside-width {
    width: 180px;
}

.aside-menu {
    width: 140px;
}

.msg-user-exists {
    color: #ff2e1b;
}