<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
         id="WebApp_ID" version="2.5">

    <context-param>
        <param-name>captchaHandler</param-name>
        <!--<param-value>hiddenFieldCaptchaHandler</param-value>-->
        <!--<param-value>cookieCaptchaHandler</param-value>-->
        <param-value>sessionCaptchaHandler</param-value>
    </context-param>

    <context-param>
        <param-name>storageFolderPath</param-name>
        <param-value>C:\Users\Vladyslav_Poliak\Desktop\task_git\preproduction_practice\KharkivJavaTask12\src\main\webapp\img\avatars</param-value>
    </context-param>

    <context-param>
        <param-name>defaultAvatarPath</param-name>
        <param-value>C:\Users\Vladyslav_Poliak\Desktop\task_git\preproduction_practice\KharkivJavaTask12\src\main\resources\default.jpg</param-value>
    </context-param>

    <filter-mapping>
        <filter-name>ShoppingCartFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>