<!DOCTYPE html>
<html lang="eu" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <title>Login</title>
</head>
<body>
<div class="container">
    <a href="/registration"> gggggggggggggg</a>
    <h1 class="text-center display-4"> LOGIN</h1>
    <form method="post" th:action="@{/login}">
        <div class="form-group">
            <label for="user-email-login">E-mail</label>
            <input class="form-control" id="user-email-login" name="login" placeholder="Please, enter your email"
                   type="text">
        </div>

        <div class="form-group">
            <label for="user-pass-login">Password</label>
            <input class="form-control" id="user-pass-login" name="password-login"
                   placeholder="Please, enter your password"
                   type="password">
        </div>
        <div><input type="submit" value="Sign In"/></div>
    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" type="text/javascript"></script>
</body>
</html>