<!DOCTYPE html>
<html lang="eu" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet" type="text/css"/>
    <title>Login</title>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <h3><a th:href="@{/login}" th:text="LOGIN"></a></h3>
    <h1 class="text-center display-4"> REGISTRATION</h1>
    <h4 class="msg-user-exists" th:text="${message!=null} ? ${message} : ''"></h4>
    <form method="post" th:action="@{/registration}">
        <div class="form-group">
            <label for="login">E-mail</label>
            <input class="form-control" id="login" name="login" placeholder="Please, enter your login"
                   type="text">
        </div>

        <div class="form-group">
            <label for="pass">Password</label>
            <input class="form-control" id="pass" name="password"
                   placeholder="Please, enter your password"
                   type="password">
        </div>
        <div><input type="submit" value="Sign In"/></div>
    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" type="text/javascript"></script>
</body>
</html>