<!DOCTYPE html>

<html lang="eu" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="container-fluid" th:fragment="aside">
    <div class="row">
        <div class="col-sm-12 col-md-3 ">
            <!--/*@thymesVar id="producers" type="java.util.List<java.lang.String>"*/-->
            <div th:each="pr : ${producers}">
                <a class="list-group-item aside-menu " th:href="@{'/mark/'+'?mark='+${pr}}">
                    <span class="badge" th:text="${pr}"> </span> </a>

                <div class="panel panel-success collapse" id="productCatalog">
                    <div class="panel-heading">catalogClasses</div>
                    <div class="list-group" th:each="cl : ${classes}">
                        <a class="list-group-item ${selectedCategoryUrl==classes.classCar ? 'active' : ''}"
                           href="/classes/${cl.classCar}">
                            <span class="badge"> </span> ${classes.classCar}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
