<!DOCTYPE html>

<html lang="eu" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="container-fluid" th:fragment="aside">
    <div class="row">
        <div class="col-sm-12 col-md-3 ">
            <h5 class="aside-menu-name">PRODUCERS:</h5>
            <!--/*@thymesVar id="producers" type="java.util.List<java.lang.String>"*/-->
            <div th:each="pr : ${producers}">
                <a class="list-group-item aside-menu-item  " th:href="@{'/mark/'+'?mark='+${pr}}">
                    <span class="badge" th:text="${pr}"> </span> </a>
            </div>

            <h5 class="aside-menu-name">CLASSES:</h5>
            <!--/*@thymesVar id="classes" type="java.util.List<java.lang.String>"*/-->
            <div th:each="cl : ${classes}">
                <a class="list-group-item aside-menu-item  " th:href="@{'/clas/'+'?clas='+${cl}}">
                    <span class="badge" th:text="${cl}"> </span> </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<!--${selectedCategoryUrl==classes.classCar ? 'active' : ''}-->
